// VARIABLES
$color-1: #00a539;
$color-2: #dee528;

$color-3: #101d2c;
$color-4: #000;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// BREAKPOINTS RESPONSIVE
$bp-big: 60rem; // 950/16 = 60rem
$bp-medium: 53rem; // 850/16 = 53rem
$bp-small: 47rem; // 750/16 = 47rem
$bp-smallest: 31rem; // 500/16 = 31rem

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    color: $color-4;
    font-weight: 300;
    line-height: 1.6;
    padding: 0 3rem 3rem 3rem;

    @media only screen and (max-width: $bp-smallest) {
        padding: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
}
