.header {
    background-image: linear-gradient(to bottom right, rgba($color-1, 0.7), rgba($color-2, 0.7)), url(../img/seo.jpg);
    background-size: cover;
    height: 70rem;

    display: flex;
    flex-direction: column;

    #nav_bar {
        top: 0;
        position: fixed;
        z-index: 100;
        background-color: yellowgreen;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__list {
        display: flex;
        align-items: flex-end;
        list-style: none;

        &-item {
            font-size: 2rem;
            color: #fff;
        }

        a {
            color: white;
            transition: all 2s;
        }

        &-link:link,
        &-visited:visited {
            font-size: 1.5rem;
            color: #fff;
            text-decoration: none;
            font-family: $font-display;
            text-transform: uppercase;
            text-align: end;
            padding: 1.5rem;
            display: block;
            transition: all 0.2s;
        }

        &-link:hover,
        &-visited:active {
            transform: scale(1.1);
            transform: translateY(-2px);
        }
    }

    .heading-1 {
        font-size: 6rem;
        font-family: inherit;
        font-weight: 400;
        color: white;
        text-align: center;
        margin-top: 10rem;
    }

    .heading-2 {
        font-size: 4.5rem;
        font-family: inherit;
        font-weight: 400;
        color: #000;
        text-align: center;
    }

    .heading-3 {
        font-size: 3.5rem;
        font-family: inherit;
        font-weight: 400;
        color: white;
        text-align: center;
    }

    .btn {
        font-size: 2rem;
        font-family: $font-primary;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 100rem;

        align-items: center;
    }

    .button {
        display: block;
        height: 25rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
